.about {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.aboutTop {
  width: 100%;
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  margin-top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; /* Maintain font consistency */
}

.aboutBottom p {
  max-width: 90%; /* Adjusted to a percentage-based width for better responsiveness */
}

.about .aboutBottom h1 {
  font-weight: 400;
  font-size: 3em; /* Adjusted font size for better readability */
  color: black;
  margin-top: 20px; /* Added margin top for spacing */
  max-width: 300px;
}
